div.tweet
  div.tweet_image
    a(href='http://twitter.com/#!/${from_user}')
      img(height='48', width='48', src='${profile_image_url}')
  div.tweet_content
    div.tweet_name 
      a(href='http://twitter.com/#!/${from_user}')${from_user}
    div.tweet_text
      | ${text}
